*{
    margin: 0;
    padding: 0;
}

.navigation {
    height: 74px;
    background-color: aqua;
}

.content {
    height: 98px;
    background-color: aquamarine;
}

.footer {
    height: 50px;
    background-color: blue;
}